html,
body {
  width: auto;
  height: auto;
  font-family: "Raleway", sans-serif;
  font-display: color #101f38;
  background: rgb(136, 157, 184);
  background: linear-gradient(
    180deg,
    rgba(136, 157, 184, 1) 0%,
    rgba(196, 209, 226, 1) 49%,
    rgba(230, 235, 241, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#889db8",endColorstr="#f2faff",GradientType=1);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  font-family: "Major Mono Display", monospace;
  width: 100%;
}

a {
  color: #101f38;
}

a:hover {
  color: #edd384;
  text-decoration: none;
}

.navbar-nav {
  font-size: 25px;
  padding-left: 3rem;
}

.navbar-brand {
  font-size: 25px;
}

.navbar-toggler {
  background-color: #101f38;
  color: #edd384;
}

.nav-bg {
  background-color: transparent;
}
@media screen and (max-width: 768px) {
  .nav-bg {
    background-color: rgba(196, 209, 226, 1);
    max-width: 80%;
    padding: 5px;
    position: absolute;
    top: 60px;
    right: 1em;
  }
  ul.navbar-nav {
    margin: 0 5px;
    padding-left: 0;
  }
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 2rem;
}

footer img {
  width: 100%;
  height: 100%;
}

footer a {
  height: 50px;
  width: 7%;
  display: block;
  margin-top: 20px;
  text-align: center;
  display: grid;
  text-decoration: none;
  color: #101f38;
}
