main {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -6rem;
  overflow-x: hidden;
}

@media (max-width: 544px) {
    
  .order-2 {
    font-size: 1rem;
  }
  header {
    height: 17rem;
  }

  .mb-0{

    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  .order-2 {
    font-size: 1.4rem;
  }
}

@media (min-width:992px) {
  .order-2 {
    font-size: 2.3rem;
  }
  header {
    height: 18rem;
  }

  .mb-0{
    font-size: 20px;
  }
}

.igphotos {
  width: 170%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  padding-bottom: 28px;
}

.textbox1 {
  padding: 5px;
  font-display: color#101F38;
  border-width: 1px;
  border-color: #b9cbdc;
  background-color: rgb(218, 231, 247);
  color: #000000;
  border-style: hidden;
  border-radius: 2px;
  box-shadow: -3px 0px 7px rgba(245, 251, 255, 0.86);
  text-shadow: 0px 0px 5px rgba(66, 66, 66, 0.75);
}

.textbox2 {
  padding: 5px;
  font-display: color#101F38;
  border-width: 1px;
  border-color: #b9cbdc;
  background-color: rgb(218, 231, 247);
  color: #000000;
  border-style: hidden;
  border-radius: 2px;
  box-shadow: -3px 0px 7px rgba(245, 251, 255, 0.86);
  text-shadow: 0px 0px 5px rgba(66, 66, 66, 0.75);
}

.textbox3 {
  padding: 3px;
  font-display: color#101F38;
  border-width: 1px;
  border-color: #b9cbdc;
  background-color: rgb(218, 231, 247);
  color: #000000;
  border-style: hidden;
  border-radius: 2px;
  box-shadow: -3px 0px 7px rgba(245, 251, 255, 0.86);
  text-shadow: 0px 0px 5px rgba(66, 66, 66, 0.75);