main {
  width: 100%;
  height: auto;
  padding: 0px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media (max-width: 544px) {
  .rush_video_intro_statment {
    font-size: 1rem;
  }
  header {
    height: 11rem;
  }
}

@media (min-width: 992px) {
  .rush_video_intro_statment {
    font-size: 1.6rem;
  }
  header {
    height: 13rem;
  }
}

.banner {
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: 0px;
}

.rush_video_intro_statment {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

video {
  width: 98%;
  margin-top: 0rem;
  margin-bottom: 1rem;
}

figure {
  width: 50%;
  text-align: center;
}

figure img {
  width: 100%;
  height: 100%;
}

#donations {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

#pcaa {
  flex-basis: 50%;
}

#jwi {
  flex-basis: 45%;
}

#pcaabutton {
  background-color: #005dab;
  border: none;
}

#jwibutton {
  background-color: #ab1d54;
  border: none;
}

#EatPieimg {
  display: flex;
  width: 50%;
  height: 50%;
  padding-top: 19px;
}

#EatPieimg2 {
  display: flex;
  width: 50%;
  height: 50%;
  padding-top: 19px;
}

.carousel-item img {
  width: 100%;
  height: 100%;
}
