main {
  width: 100%;
  height: auto;
  padding: 0;
  text-align: center;
}

main img {
  height: 18rem;
}

@media (max-width: 544px) {
  h1 {
    font-size: 2rem;
  }

  .container-fluid {
    padding-top: 2rem;
  }

  header {
    height: 18rem;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 3rem;
  }
}

@media (min-width: 992px) {
  h1 {
    font-size: 3rem;
  }
  header {
    height: 13rem;
  }
}

.card {
  -webkit-box-shadow: -1px 1px 15px 6px #384368;
  box-shadow: -1px 1px 15px 6px #384368;
  transition: transform 0.5s;
  height: 100%;
}

@media (min-width: 544px) {
  .row .card-mid {
    width: 343px;
  }
}

@media (min-width: 992px) {
  .row .card-mid {
    width: 325px;
  }
}

.card:hover {
  transform: scale(1.18);
  z-index: 8;
}
